// Place all the styles related to the wordlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.defintion {
  color: #999;
  margin: 0 4px;
}
.wordlist-source .form-action .btn {
  margin-right: 6px;
}
